<%- include('includes/header')%>
    <%- include('includes/nav')%>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="cliente/cliente">Cliente</a></li>
                <li><a href="cliente/proprietario">Propriet치rio</a></li>
            </ul>
        </nav>
        <section>
            <div class="container">
                <h1>Cliente e Propriet치rios</h1>
                <table class="styled_table">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Propriet치rio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% clientes.forEach((cliente)=> { %>
                            <tr>
                                <td>
                                    <%= cliente.cliente %>
                                </td>
                                <td>
                                    <form action="/proprietarios" method="post">
                                        <select name="proprietarioId">
                                            <option value="">Selecione um propriet치rio</option>
                                            <% proprietarios.forEach((proprietario)=> { %>
                                                <option value="<%= proprietario._id %>" <%=cliente.proprietario &&
                                                    cliente.proprietario[0] &&
                                                    String(cliente.proprietario[0]._id)===String(proprietario._id)
                                                    ? 'selected' : '' %>>
                                                    <%= proprietario.proprietario %>


                                                </option>
                                                <% }) %>
                                        </select>
                                        <input type="hidden" name="clienteId" value="<%= cliente._id %>">
                                        <button type="submit">Salvar</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
        </body>

        </html>